<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>913236375191-vobsjt3iupm1ae5b64oc4t9amp0f31b3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913236375191-vobsjt3iupm1ae5b64oc4t9amp0f31b3</string>
	<key>API_KEY</key>
	<string>AIzaSyBcM1DoqQdWhT-3oYd8YK7EmfFVlfkrL6g</string>
	<key>GCM_SENDER_ID</key>
	<string>913236375191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>training.Spinner</string>
	<key>PROJECT_ID</key>
	<string>collage-a9c1c</string>
	<key>STORAGE_BUCKET</key>
	<string>collage-a9c1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:913236375191:ios:19f376875b5f55fc</string>
	<key>DATABASE_URL</key>
	<string>https://collage-a9c1c.firebaseio.com</string>
</dict>
</plist>